.filter-btn {
    width: 100%;
    padding: 2px;
}

.filter-container {
    background-color: whitesmoke;
    padding: 12px;
}

.flters-header {
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
}

.selctedButton {
    background-color: #f00;
    color: black;
}